body, div, header, h1, h2, p
{
	margin: 0;
	padding: 0;
	border: 0;
}

#option {
	display: none;
	cursor: pointer;
	width: 150px;
	height: 30px;
	font-size: 20px;
	background: #3592e0;
	border: none;
	color: white;
}

/* Menu */
ul
{
	margin: 0px;
	padding: 0px;
	float: right;
	list-style: none;
	margin-top: 30px;
	margin-right: 50px;
}

ul li
{
	display: inline-block;
	text-align: center;
	border: 2px solid white;
	
}

ul li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	font-size: 15px;
	display: block;
	background-color: orange;
}

ul li a:hover
{
	background-color: #3592e0;
}

ul li ul li
{
	display: none;
}

ul li:hover .sousmenu li
{
	display: block;
}

ul li .sousmenu
{
	margin-bottom: -30px;
}

ul li:hover .sousmenu
{
	margin-top: 1px;
	margin-bottom: -110px;
	position: relative;
	margin-right: 0px;
}

/* Logo */
.logo img
{
	width: 100px;
	height: auto;
	float: left;
	margin-left: 50px;
}

/* Logo et Menu */
header
{
	height: 100px;
	background: #847165;
	width: 100%;
	z-index: 10;
	position: fixed;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	margin: auto;
}

#content
{
	padding-top: 110px;
}

h1
{
	font-size: 50px;
	color: black;
	font-family: sans-serif;
	text-align: center;
}

form
{
	position: absolute;
	margin-top: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 500px;
	padding: 25px 40px;
	box-sizing: border-box;
	text-align: center;
}

form p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
	font-family: sans-serif;
}

form input
{
	width: 100%;
	margin-bottom: 20px;
	font-family: sans-serif;
}

form input[type="file"]
{
	padding: 10px 10px;
	border: none;
	font-family: sans-serif;
	font-size: 15px;
	border-radius: 5px;
}

form input[type="text"],
form input[type="number"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
}

/* La couleur des placeholder dans les cases de saisie */
::placeholder
{
	color: rgba(255,255,255,.5);
}

/* Mise en forme du bouton Se connecter */
form input[type="submit"], #retour
{
	border: none;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px;
	background: black;
	cursor: pointer;
	border-radius: 20px;
}

#retour {
	width: 100%;
}

/* Au survol du bouton Se connecter */
form input[type="submit"]:hover
{
	background: red;
	color: white;
}

/* Smartphone en portrait */
@media screen and (max-width: 479px){
	header {
		text-align: center;
		position: relative;
		box-shadow: none;
		z-index: 0;
		width: 100%;
	}

	.logo img {
		float: none;
		margin: 0;
	}

	ul {
		display: none;
	}

	#content {
		padding-top: 10px;
	}

	h1 {
		font-size: 30px;
	}

	form {
		position: relative;
		margin-top: 250px;
	}	
}

/* Smartphone en paysage, tablette en portrait et petite tablette en paysage */
@media screen and (max-width: 949px) and (min-width: 480px){
	header {
		text-align: center;
		position: relative;
		box-shadow: none;
		z-index: 0;
		width: 100%;
	}

	.logo img {
		float: none;
		margin: 0;
	}

	ul {
		display: none;
	}

	#content {
		padding-top: 10px;
	}

	h1 {
		font-size: 40px;
	}

	form {
		position: relative;
		margin-top: 250px;
	}
}

/* Tablette en paysage, écran d’ordinateur de taille petite et moyenne */
@media screen and (max-width: 1175px) and (min-width: 950px){
	header {
		text-align: center;
		position: relative;
		box-shadow: none;
		z-index: 0;
		width: 100%;
	}

	.logo img {
		float: none;
		margin: 0;
	}

	ul {
		margin-top: 0px;
		margin-top: 0px;
		margin-left: 0px;
	}

	#content {
		padding-top: 10px;
		margin-top: 150px;
	}

	h1 {
		font-size: 45px;
	}

	form
	{
		position: relative;
		margin-top: 250px;
	}
}

@media screen and (max-width: 1400px) and (min-width: 1176px){
	form
	{
		position: relative;
		margin-top: 250px;
	}
}