/* Contact Area */

ul.contact-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.contact-content li i {
    font-size: 50px;
    color: #ff6633;
    margin-bottom: 25px;
}

.contact-content li .an-info {
    font-size: 20px;
    color: #000;
    margin: 0;
}

.contact-content li p {
    margin: 0;
}

@media (max-width: 1100px) {
    .contact-content li {
        flex-basis: 50%;
    }

    .contact-content li:last-child {
        margin-bottom: 0;
    }

    .contact-content li p {
        padding: 0;
    }
}

@media (max-width: 700px) {
    .contact-content li {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}

/* End Contact Area */